@model IEnumerable<Movies>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-2 p-5">Welcome</h1>*@
    <h5 class="display-5 p-5">Movie- and series reviewes</h5>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="container p-2">
    <div class="row">
        <div class="col-8">
            <h3>
                Current top rated movies
            </h3>
        </div>
        <div class="col-4 text-end pb-2">
            <a asp-controller="Movies" asp-action="Index"
            class="btn btn-primary">See all movies</a>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
    <thead>        
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.ReviewScore)</th>
            <th>@Html.DisplayNameFor(m => m.Runtime)</th>
            <th>@Html.DisplayNameFor(m => m.RelaseDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td width="40%">@movie.Name</td>
                <td width="20%">@movie.ReviewScore</td>
                <td width="15%">@movie.Runtime</td>
                <td width="25%">@movie.RelaseDate</td>
            </tr>
        }
        
    </tbody>
</table>
    @*<partial name="~/Views/Shared/_TopMovies.cshtml" />*@
</div>
