@model IEnumerable<Movies>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>        
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ReviewScore)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Runtime)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.RelaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(var movie in TemdData["MovieList"] as IEnumerable<Movies>)
        {
            <tr>
                <td>
                    @movie.Name
                </td>
                <td>
                    @movie.ReviewScore
                </td>
                <td>
                    @movie.Runtime
                </td>
                <td>
                    @movie.RelaseDate
                </td>
            </tr>
        }*@
        
    </tbody>
</table>
